body {
    background-color: grey;
}

h1 {
    font-family: verdana;
    color: aliceblue;
}

.btn {
    margin: 5px;
}

.center {
    align-self: center;
    align-content: center;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
  }

table {
    border: black;
}